
services:
  postgres:
    image: postgres:16
    container_name: bot-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: botuser
      POSTGRES_PASSWORD: botpass
      POSTGRES_DB: botdb
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    networks:
      - paybot-network

networks:
  paybot-network:
    driver: bridge

